@import model.Users
@(users: Seq[Users])

<html>
<head>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th>rollNumber</th>
        <th>delete</th>


    </tr>
    @for( user <- users){
        <tr>
            <td>@user.name</td>
            <td>@user.email</td>
            <td>@user.password</td>
            <td>@user.rollNumber</td>
            <td><a href="/delete/@{user.id}"> Delete</a> </td>

        </tr>
    }

</table>

</body>
</html>


