<html>
<head>
<title>login</title>
</head>
<body>
<form method="get" action="validate1">
    username:<input type="text" name="username"/>
    password:<input type="password" name="password">
    <input type="submit" value="Submit">
</form>
</body>
</html>


<!--
<form method="post" action="validate2">

    username:<input type="text" name="username"/>
    password:<input type="password" name="password">
    <input type="submit" value="Submit">
</form>
-->
   <!--
         <tr>
        <td>Gender :</td>
        <td>
            <input type="radio" name="Gender"> Male
            <input type="radio" name="Gender"> Female
        </td>
    </tr>
        <tr>
            <td>Email :</td>
            <td><input type="email"></td>

        <tr>
           <td>Phone no:</td>
            <td><input type="countrycode" value="+91" size="2">
                <input type="phone"></td>

        </tr>
        -->



<!--
    <table method="get" action="validate1">
        <tr>
            <td>username :</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>


       -   <tr>
            <td>Gender :</td>
            <td>
                <input type="radio" name="Gender"> Male
                <input type="radio" name="Gender"> Female
            </td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input type="email"></td>
        </tr>
        <tr>
            <td>Phone no:</td>
            <td><input type="countrycode" value="+91" size="2">
            <input type="phone"></td>

        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>-->