@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"
             style="background-color:pink; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px; ">
            <a href="/profile">home</a>
        </div>
        <div class="col-sm-2"
             style="background-color:lightblue; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px;">
            <a href="/update">profile</a></div>
        <div class="col-sm-2"
             style="background-color:pink; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px;">
            <a href="/registration">
                registration</a>
        </div>

        <div class="col-sm-2"
             style="background-color:pink; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px;">
            <a href="/payment">
                payment</a>
        </div>

        <div class="col-sm-2"
             style="background-color:pink; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px;">
            <a href="/data">
                users data</a>
        </div>

        <div class="col-sm-2"
             style="background-color:pink; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px;">
            <a href="/feeDetail">
                fee detail</a>
        </div>




      <!--  <div class="col-sm-2"
             style="background-color:lavenderblush; border: 1px solid gray; padding: 6px; text-align: center; font-size: 18px;">
            Logout
        </div>   -->
    </div>

    @content
</div>

</body>

</html>
