@main("Admission"){

<div class="pagetitle">
    <h1>Admission</h1>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="card">
            <div class="card-body">
            <form method="post" action="registrationSubmit">
            <div class="form-group">
                <label for="name" style="color:teal;"> Name:</label>
                <input type=text" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>

            <div class="form-group">
                <label for="email" style="color:teal;">Email:</label>
                <input type=text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="password" style="color:teal;">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <div class="form-group">
                <label for="rollno" style="color:teal;">rollno:</label>
                <input type="text" class="form-control" id="rollno" placeholder="Enter password" name="rollno">
            </div>

            <div>
                <button type="submit" value="submit" class="btn btn-default" style="color:teal;">Submit</button>
            </div>
        </form>
        </div>
        </div>
    </div>
</section>

}