@import model.Users
@(users: Users)

@main("Update Profile"){
<div class="row">

    <form method="post" action="/updateSubmit">
        <div class="form-group">
            <label for="name" style="color:teal;"> Name:</label>
            <input type=text" class="form-control" id="name" name="name" value="@users.name">
        </div>

        <div class="form-group">
            <label for="email" style="color:teal;">Email:</label>
            <input type=text" class="form-control" id="email" name="email" value="@users.email">
        </div>
        <div class="form-group">
            <label for="password" style="color:teal;">Password:</label>
            <input type="password" class="form-control" id="password" name="password" value="@users.password">
        </div>
        <div class="form-group">
            <label for="rollno" style="color:teal;">rollno:</label>
            <input type="text" class="form-control" id="rollno" name="rollno" value="@users.rollNumber">
        </div>
        <div>
            <input type="hidden" name="id" value="@users.id.get"/>
        </div>
        <div>
            <button type="submit" value="update" class="btn btn-default" style="color:teal;">Update</button>
        </div>
    </form>
</div>
}